section.anime
    .anime__container.container
        h2.anime__title.title Task 11 - Anime.js
        .anime__slider
            .anime__content.anime__content--slides
                .anime__item
                    img(src="./img/screen-1.jpg")
                    .circle
                .anime__item
                    img(src="./img/screen-2.jpg")
                    img(src="./img/screen-3.jpg").anime__item--sub
                    .anime__layer.anime__layer--1
                        img(src="./img/layer-1.png")
                    .anime__layer.anime__layer--2
                        img(src="./img/layer-2.jpg")
                    .anime__layer.anime__layer--3
                        img(src="./img/layer-3.jpg")
                    .circle
                .anime__item
