section.anime
    .anime__container.container
        h2.anime__title.title Task 11 - Anime.js
        .anime__slider
            .anime__content.anime__content--slides
                .anime__item.anime__item--1
                    img(src="./img/screen-1.jpg")
                .anime__item.anime__item--2
                    img(src="./img/screen-2.jpg")
                .anime__item.anime__item--3
                    img(src="./img/screen-3.jpg")
                //.anime__layer.anime__layer--1
                //    img(src="./img/layer-1.png")
                //.anime__layer.anime__layer--2
                //    img(src="./img/layer-2.png")
                //.anime__layer.anime__layer--3
                //    img(src="./img/layer-3.jpg")
