section.image#task-9
    .image__container.container
        h2.image__title.title Task 9 - Adaptive Image
    .image__pic
        .image__pic-container.container
            h3 Some content on this image
