section.map#task-8
    .container.map__container
        h2.map__title Task 8 - Google Map
    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1122.3324939958272!2d37.56745510383847!3d55.76432164178464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a2db783862d%3A0x20398d4463b79f83!2z0KHRgtC-0LvRj9GA0L3Ri9C5INC_0LXRgC4sIDMg0LrQvtGA0L_Rg9GBIDEzLCDQnNC-0YHQutCy0LAsIDEyMzAyMg!5e0!3m2!1sru!2sru!4v1634114394705!5m2!1sru!2sru'  height='400' style='border:0;' allowfullscreen='' loading='lazy').map__iframe
