.layout {
  padding-top: 75px;

  &__title {
    margin-bottom: rem-calc(32);
    text-align: center;
    text-transform: uppercase;
    color: #fa8072;

    @include lg-block {
      font-size: rem-calc(32);
    }
  }

  &__article {
    margin-bottom: rem-calc(32);
    padding-top: rem-calc(32);
  }
}

.article {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 32px;

  &__text {
    @include md-block {
      display: table-cell;
      width: 50%;
      min-height: rem-calc(400);
      vertical-align: middle;
    }
  }

  img {
    @include md-block {
      display: table-cell;
      width: 100%;
      max-height: rem-calc(400);
      object-fit: contain;
    }
  }

  &__wrapper {
    @include md-block {
      display: table;
      vertical-align: middle;
    }
  }

  @include md-block {
    display: table;
    min-height: rem-calc(400);

    picture {
      display: table-cell;
      vertical-align: middle;
    }

    &:nth-child(2n) {
      transform: rotate(180deg);

      img {
        height: rem-calc(400);
        vertical-align: middle;
        transform: rotate(180deg);
      }

      .article__text {
        transform: rotate(180deg);
      }
    }
  }
}
