.layout {
  padding-top: 75px;

  &__title {
    margin-bottom: rem-calc(32);
    text-align: center;
    text-transform: uppercase;
    color: #fa8072;

    @include lg-block {
      font-size: rem-calc(32);
    }
  }

  &__article {
    margin-bottom: rem-calc(32);
    padding-top: rem-calc(32);
  }
}

.article {
  display: flex;
  flex-direction: column-reverse;
  font-size: 18px;
  line-height: 32px;

  &__text {
    @include md-block {
      flex-shrink: 0;
      width: 47%;
    }
  }

  img {
    display: block;

    @include md-block {
      max-height: rem-calc(400);
    }
  }

  @include md-block {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: rem-calc(400);
    gap: rem-calc(30);

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }
  }
}
