header.js-header.header
    .container.header__container
        .header__logo.logo
            +svg("Nike", 200, 70)
        nav.header__navigation.navigation
            ul.navigation__list
                li.navigation__item
                    a.navigation__button Task 7 - CSS Scroll
                    ul.navigation__submenu.submenu
                        li.submenu__item
                            a(href="#task-3") Task 3
                        li.submenu__item
                            a(href="#task-4") Task 4
                        li.submenu__item
                            a(href="#task-8") Task 8
                li.navigation__item
                    a(href="#task-9").navigation__button Task 7 - JS-scroll

