extends ../templates/main-layout
include ../mixins/_svg

block variables
    - const title = 'Главная'

block content
    include ../sections/index/_partners
    include ../sections/index/_articles
    include ../sections/index/_slider
    include ../sections/index/_map
    include ../sections/index/_image
    include ../sections/index/_filter
    include ../sections/index/_anime
    include ../sections/index/_form
