.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: rem-calc(12) 0;
  width: 100%;
  max-height: rem-calc(50);
  color: #000;
  background-color: rgba(#fff, 1);
  transition: 0.5s ease-in-out;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &.out {
    max-height: rem-calc(30);
    color: #fff;
    background-color: rgba(#000, 0.25);

    svg {
      width: 70%;
    }

    .navigation__item {
      padding: 0.4rem rem-calc(30);
    }

    .submenu__item {
      padding: 0;
    }

    button {
      font-size: rem-calc(14);
    }

    .submenu__link {
      color: #000;
    }
  }
}
