.navigation {
  &__list {
    display: grid;
    grid-auto-flow: column;
    gap: rem-calc(5) rem-calc(10);
  }

  &__item {
    position: relative;
    padding: 1rem rem-calc(30) ;
    color: inherit;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: #d2d2f5;

      button {
        color: #fff;
      }

      ul {
        top: 100%;
        height: fit-content;
        visibility: visible;
        opacity: 1;
        pointer-events: all;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
      }
    }
  }

  &__button {
    @include btn-reset;

    color: currentColor;
    transition: 0.3s ease-in-out;
  }

  &__submenu {
    position: absolute;
    width: 100%;
    top: -200%;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    border-bottom-right-radius: rem-calc(12);
    border-bottom-left-radius: rem-calc(12);
    transition: 0.3s ease-in-out;
    z-index: -1;
  }

  @media (max-width: 600px) {
    flex-shrink: 0;
  }
}

.header.out a {
  font-size: rem-calc(14);
  color: #fff !important;
}
