.submenu {
  &__item {
    color: currentColor;

    a {
      display: block;
      padding: 0.75rem 0.5rem;
      color: currentColor;
      transition: 0.3s ease-in-out;

      &:hover {
        color: #fff;
        background-color: #d2d2f5;
      }
    }

    &:not(:last-child) a {
      border-bottom: 1px solid lightgrey;
    }
  }

  &.active {
    top: 100%;
    width: 100%;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}
