header.js-header.header
    .container.header__container
        .header__logo.logo
            +svg("Nike", 200, 70)
        nav.header__navigation.navigation
            ul.navigation__list
                li.navigation__item
                   a(href="#two").submenu__link CSS Scroll
                li.navigation__item
                    a(href="#three").navigation__button JS-scroll

