.logotypes {

  h2 {
    font-size: 2rem;
    text-transform: uppercase;
    color: slategray;
    text-align: center;

    @include md-block {
      font-size: 3rem;
      text-align: left;
    }
  }

  &__content {
    position: relative;
    margin-bottom: rem-calc(40);

    &::after, &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: lightgray;
    }

    &::before {
      bottom: unset;
      top: 0;
    }
  }

  &__list {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;

    &--centered {
      justify-content: space-between;
    }

    @include sm-block {
      grid-template-columns: 1fr 1fr;
    }

    @include md-block {
      grid-template-columns: repeat(3, 1fr);
    }

    @include lg-block {
      grid-template-columns: auto;
      grid-auto-flow: column;
      gap: 20px;
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.2;
    transition: 0.3s ease-in-out;

    svg {
      width: 90px;
      height: 90px;
    }

    &:hover {
      opacity: 1;
    }

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 25px;
        height: 1px;
        background-color: gray;

        @include sm-block {
          bottom: unset;
          right: -10px;
          width: 1px;
          height: 25px;
        }
      }
    }

    &--centered:not(:last-child) {
      &::after {
        display: none;
      }
    }
  }
}
