html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #d2d2f5;

  &.overlay {
    position: relative;

    &::after {
      content: "";
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 123;
      width: 100vw;
      height: 100vh;
      background-color: transparent;
    }
  }
}

main {
  flex: 1 0 auto;
}

section {
  padding-top: 50px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000;

  &:visited {
    color: rgba(#000, 0.8);
  }
}

.list-reset {
  @include list-reset;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1210px; // ширина контейнера от края до края 1180 + паддинги по 15px = 1210px
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

@import "mixins";

.grid {
  display: grid;
  grid-auto-flow: column;
  gap: rem-calc(20);
}

ul, ol {
  @include list-reset;
}

